:root {
	--mainBodyMaxHeight: 20vh;
}
/* 
aside {
	display: inline-block;
	max-width: 10%;
	overflow-y: auto;
}

aside img {
	max-width: 100%;
} */

.sideGalleryImage {
	width: 100%;
	margin-bottom: 2%;
}

.square:after {
	content: "";
	padding-bottom: 100%;
	display: block;
}

/* ID selectors */
/* #mainBodyAndSideGalleryContainer {
	width: 100%;
}

#mainBody {
	display: inline-block;
	max-width: 85%;
}

#mainBody > img {
	width: 100%;
} */


/* Webcam stuff */
#cancel_pic_from_webcam {
	display: none;
}

#webcam_container {
	position: relative;
	min-height: 300px;
	object-fit: cover;
}

#webcam, #img_preview {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	object-fit: cover;
}

#webcam {
	z-index: 2;
}

#img_preview {
	visibility: hidden;
	z-index: 3;
}
